<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <title>로그인 폼</title>

</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%" align="center">

<div class="card align-middle" style="width:20rem; border-radius:20px;">
    <div class="card-title" style="margin-top:30px;">
        <h1 class="card-title text-center" style="font-weight: bold;">로그인</h1>
    </div>

    <div class="card-body">
        <form class="form-signin"  method="POST" onsubmit="logincall(); return false">
            <label for="userId" class="sr-only">아아디를 입력하세요</label>
            <input type="text" id="userId"  class="form-control" placeholder="Your ID" required autofocus><BR>
            <label for="userPw" class="sr-only">비밀번호를 입력하세요</label>
            <input type="password" id="userPw"  class="form-control" placeholder="Password" required><br>
            <button type="submit" id="btn-signin" class="form-control btn btn-lg btn-block"ß>로그인</button>
            <button id="btn-signup" class="form-control btn btn-lg btn-block" onclick="goSignUp()">회원가입</button>
        </form>


    </div>
</div>

<div class="modal">
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script></body>
<script>
    function goSignUp(){
        location.href="join";
    }
    function logincall(){
        alert($('#userId').val());
        var param = {
            userId: $('#userId').val(),
            userPw: $('#userPw').val(),
        };

        $.ajax({
            url: '/login/proc',
            data: param,
            type: 'post',
            dataType: 'json'
        }).done(function (data) {
            if (data.resultCode == 200) {
                location.href = '/join';
            } else {
                alert('* 가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.');
                return false;
            }

        }).fail(function (data, textStatus, errorThrown) {
            console.log(textStatus);

        });

    }
</script>
</html>